{
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-transform-adana", {
          "only": "src/**/*.js"
        }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4
      }
    }],
    "@babel/preset-flow"
  ]
}
