{
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-transform-adana", {
          "only": "src/**/*.js"
        }]
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 4
      },
      "shippedProposals": true
    }],
    "@babel/preset-flow"
  ]
}
